files:
  "/opt/elasticbeanstalk/hooks/appdeploy/pre/60_xdebug.sh" :
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash
      #install xdebug
      pushd /tmp/
          wget http://xdebug.org/files/xdebug-2.5.0.tgz
          tar -xvzf xdebug-2.5.0.tgz
          pushd /tmp/xdebug-2.5.0
              phpize
              ./configure
              make
              cp modules/xdebug.so /usr/lib64/php/7.0/modules
          popd
      popd

      echo  "
        zend_extension = /usr/lib64/php/7.0/modules/xdebug.so
        xdebug.enabled=1
        xdebug.remote_enable=1
        xdebug.remote_autostart=1
        xdebug.remote_handler=dbgp
        xdebug.remote_mode=req
        xdebug.remote_log=\"/tmp/xdebug.log\"" > /etc/php.d/99-xdebug.ini